button{
  width: 72px;
}
tr{
  line-height: 40px;
}
.edit-tr{
  background-color: rgba(204,204,204,.5);
}
.edit-tr input{
  border: transparent;
  padding: 0 10px;
  border-radius: 5px;
  color: red;
}
