<div class="container">
  <input
    type="text"
    class="form-control mt-5"
    (keyup)="formEvent($event)"
  >
  <p class="mt-2">{{ text }}</p>
</div>

<div class="container">
  <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label></label>
      <input
        type="text"
        class="form-control mt-2"
        (keyup)="formEvent($event)"
        [(ngModel)]="userName"
        name="userName"
        #nameValue="ngModel"
        required
        minlength="3"
      >
      <div class="alert alert-danger"
      *ngIf="nameValue.errors?.minlength && nameValue.touched"
      >
        min length 3
      </div>
      <div class="alert alert-danger"
      *ngIf="nameValue.errors?.required && nameValue.touched"
      >
        no required
      </div>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-success">Save</button>
    <span>проверка формы( erorr: {{ form.invalid }} )</span>
  </form>
</div>
<table class="table mt-5" *ngIf="usersArray.length">
  <tr *ngFor="let user of usersArray; let i = index ">
    <td>{{ i + 1 }}</td>
    <td>{{ user }}</td>
    <td><button (click)="removeUser(i)" class="btn btn-danger">Delit</button></td>
  </tr>
</table>


